.uc-lunar-form .lunar-button {
  margin-left: 0;
}

#payment-details.payment-details-lunar-gateway {
  padding-top: 0.5em;
}

.uc-lunar-card {
  height: 25px;
}

.uc-lunar-mobilepay {
  height: 35px;
}
